.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
}

.background {
    -fx-background-color: #ffffff;
}

.label-header-selected {
    -fx-font-weight: bold;
}

.button-month-selector {
    -fx-background-color: transparent;
}

.button-month-selector-icon {
    -fx-fill: #cebeb9;
    -fx-stroke: #cebeb9;
}

/* JFX snack bar related */
.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-pref-width: 840px;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}